<app-header></app-header>

<body>
    <section class="message">
        <h2>Our Mission</h2>

        <p>At GreenProximity, our mission is to empower individuals and businesses alike by providing a
            comprehensive platform that facilitates informed decisions, fosters local business growth, and promotes
            sustainable urban development. <br><br> We strive to be the go-to destination for anyone looking to explore
            available services before relocating, identify potential competitors before establishing their business
            in a new area, and contribute to the enhancement of our cities. <br><br>By offering valuable insights and
            promoting active mobility, we aim to create a win-win situation for citizens and businesses, ensuring
            proximity to services for residents and helping companies identify untapped markets for expansion.</p>
    </section>
</body>