<header>
    <img class="logo" src="../../assets/logo.png">
    <nav>
        <button>Our mission<img class="icon" src="../../assets/mission.png" width="20px" height="20px"></button>
        <button>About us<img class="icon" src="../../assets/about-us.png" width="20px" height="20px"></button>
        <button>Buy us a coffee<img class="icon" src="../../assets/coffee.png" width="20px" height="20px"></button>
        <button>Contact us<img class="icon" src="../../assets/contact-us.png" width="20px" height="20px"></button>
    </nav>
</header>