<app-header></app-header>

<body>
    <section class="message">
        <h2>About Us</h2>
        <p>Welcome to GreenProximity, where innovation meets community empowerment. Established with the vision of
            revolutionizing how individuals and businesses connect with their surroundings, we are dedicated to
            reshaping urban landscapes for the better.<br><br>Our platform is designed to assist you in making informed
            decisions about relocation, identifying business opportunities, and actively contributing to the improvement
            of your city. We take pride in fostering a dynamic environment that encourages sustainable growth, benefits
            local communities, and promotes a future where accessibility and opportunity go hand in hand.<br> <br>Join
            us on
            this journey towards a more connected and vibrant urban experience !</p>
    </section>
</body>